<div class="category">
  <h2>Показать</h2>
  <ul class="category_list">
    <li class="category_item">Все</li>
    <li class="category_item">Квартиры</li>
    <ul class="category_submenu">
      <li class="category_submenu_item">1 комнатные</li>
      <li class="category_submenu_item">2-х комнатные</li>
      <li class="category_submenu_item">3-х комнатные</li>
      <li class="category_submenu_item">4-х комнатные</li>
      <li class="category_submenu_item">Другие</li>
    </ul>
    <li class="category_item">Дома</li>
    <ul class="category_submenu">
      <li class="category_submenu_item">3-х комнатные</li>
      <li class="category_submenu_item">4-х комнатные</li>
      <li class="category_submenu_item">5-ти комнатные</li>
      <li class="category_submenu_item">2-х этажные</li>
      <li class="category_submenu_item">3-х этажные</li>
      <li class="category_submenu_item">Временки</li>
      <li class="category_submenu_item">Участки</li>
    </ul>
    <li class="category_item">Под бизнес</li>
    <ul class="category_submenu">
      <li class="category_submenu_item">Квартиры</li>
      <li class="category_submenu_item">Дома</li>
      <li class="category_submenu_item">Офисы</li>
      <li class="category_submenu_item">Нежилые помещения</li>
    </ul>
  </ul>
</div>
