<div class="main_block_wrapper">
  <%= render '/main/side_bar' %>
  <div class="house_cover_wrapper">
    <div class="house_itmes">
        <div class="house_item_block">
          <div class="house_item_cover"><img src="pictures/sample_flat_1.jpeg" alt="cover_picture"></div>
          <div class="house_item_title">Дом 4-х комн.</div>
          <div class="house_item_price">$50,000</div>
        </div>
        <div class="house_item_block">
          <div class="house_item_cover"><img src="pictures/sample_flat_2.jpeg" alt="cover_picture"></div>
          <div class="house_item_title">Кв. 3-х комн.</div>
          <div class="house_item_price">$60,000</div>
        </div>
        <div class="house_item_block">
          <div class="house_item_cover"><img src="pictures/sample_house_1.jpg" alt="cover_picture"></div>
          <div class="house_item_title">Дом 2-х комн.</div>
          <div class="house_item_price">$25,000</div>
        </div>
        <div class="house_item_block">
          <div class="house_item_cover"><img src="pictures/sample_flat_3.jpeg" alt="cover_picture"></div>
          <div class="house_item_title">Кв. 4-х комн.</div>
          <div class="house_item_price">$80,300</div>
        </div>
        <div class="house_item_block">
          <div class="house_item_cover"><img src="pictures/sample_house_3.jpg" alt="cover_picture"></div>
          <div class="house_item_title">Дом 2-х этажный</div>
          <div class="house_item_price">$200,000</div>
        </div>
        <!-- second row -->
        <div class="house_item_block">
          <div class="house_item_cover"><img src="pictures/sample_flat_3.jpeg" alt="cover_picture"></div>
          <div class="house_item_title">Кв 1-км. студия</div>
          <div class="house_item_price">$50,500</div>
        </div>
        <div class="house_item_block">
          <div class="house_item_cover"><img src="pictures/sample_flat_1.jpeg" alt="cover_picture"></div>
          <div class="house_item_title">Кв. 3-х комн.</div>
          <div class="house_item_price">$60,000</div>
        </div>
        <div class="house_item_block">
          <div class="house_item_cover"><img src="pictures/sample_flat_2.jpeg" alt="cover_picture"></div>
          <div class="house_item_title">Подвальное пом-е</div>
          <div class="house_item_price">$25,500</div>
        </div>
        <div class="house_item_block">
          <div class="house_item_cover"><img src="pictures/sample_house_2.jpg" alt="cover_picture"></div>
          <div class="house_item_title">Дом 1-ая линия</div>
          <div class="house_item_price">$80,000</div>
        </div>
        <div class="house_item_block">
          <div class="house_item_cover"><img src="pictures/sample_house_4.jpg" alt="cover_picture"></div>
          <div class="house_item_title">Дом 3-х этажный</div>
          <div class="house_item_price">$200,000</div>
        </div>
        <!-- 3rd row -->
        <div class="house_item_block">
          <div class="house_item_cover"><img src="pictures/sample_flat_2.jpeg" alt="cover_picture"></div>
          <div class="house_item_title">Кв. 2-х комн.</div>
          <div class="house_item_price">$50,000</div>
        </div>
        <div class="house_item_block">
          <div class="house_item_cover"><img src="pictures/sample_flat_1.jpeg" alt="cover_picture"></div>
          <div class="house_item_title">Дом 3-х комн.</div>
          <div class="house_item_price">$60,000</div>
        </div>
      </div>
    </div>
  </div>
</div>
