<h1>Editing real estate</h1>

<%= render "form", real_estate: @real_estate %>

<br>

<div>
  <%= link_to "Show this real estate", @real_estate %> |
  <%= link_to "Back to real estates", real_estates_path %>
</div>
