<p style="color: green"><%= notice %></p>

<div class="result_top_bar">
  <span class="result_realestate">Объект недвижимости</span>
  <span class="result_city">Город</span>
  <span class="result_level">Этаж</span>
  <span class="result_area">Площадь</span>
  <span class="result_number_rooms">№ комнат</span>
  <span class="result_total_sum">Цена</span>
</div>

<%= render 'real_estates/result_items' %>

<div class="result_actions_wrapper">
  <div class="result_actions">
    <button class="btn_big_white"><a href="home.html">Назад в поиск</a></button>
  </div>
</div>

