<div class="house_form_wrapper">
    <h4 class="house_form_title">Форма добавления данных по объекту</h4>
    <p class="house_form_subtitle">Для добавления объекта заполните поля формы.</p>
    <p class="house_form_subtitle house_form_warning">*Все поля, кроме допольнительной информации, обязательны для заполнения.</p>
    <%= render "form", real_estate: @real_estate %>
  </div>
</div>

<div class="rs_actions_wrapper">
  <div class="rs_actions">
    <%= link_to 'Назад к списку', real_estates_path, class: "btn_big_white" %>
  </div>
</div>