
.real_estate_item_header {
  background: #F6F6F6;
  width: 100%;
  min-height: 50px;
  padding-top: 1%;
  padding-left: 2%;
  font-size: 26px;
  font-weight: bold;
  border-bottom: 1px solid #dedede;
  text-align: center;
}

.real_estate_items {
  width: 100%;
}

.real_estate_wrapper {
  padding: 1%;
  min-height: 180px;
  font-size: 20px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 3px;
}

.rs_fotos_wrapper {
  width: 100%;
  /*height: 300px;*/
}

.rs_item_foto {
  max-width: 24%;
  height: auto;
  display: inline-block;
}

.rs_item_location {
  width: 100%;
  margin-bottom: 10px;
}

.rs_item_city {
  width: 20%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.rs_item_address {
  width: 75%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.rs_item_details_table {
  width: 100%;
}

.rs_item_foto > img {
  display: block;
  width: 100%;
  height: auto;
}

.rs_item_desc {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  font-size: 20px;
  padding-right: 1%;
  margin-bottom: 10px;
 }

 .rs_item_subtitle {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  font-size: 22px;
 }

 .btn_remove {
  display: block;
  height: 28px;
  color: #FFF;
  background: red;
  border: 2px solid #414141;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  font-size: 15px;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
 }

.rs_actions_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 1%;
}

.rs_actions {
  height: 100%;
  width: 100%;
  text-align: right;
}
