<div id="footer" name="footer">
  <div class="footer_menu">
    <div class="container">
      <div class="footer_menu_wrapper">
        <div class="footer_menu_block">
          <h3>Покупка</h3>
          <ul class="footer_nav">
            <li class="footer_nav_item">Квартиры</li>
            <li class="footer_nav_item">Дома</li>
            <li class="footer_nav_item">Коммерческая недвижимость</li>
          </ul>
        </div>
        <!-- 2nd -->
        <div class="footer_menu_block">
          <h3>Продажа</h3>
          <ul class="footer_nav">
            <li class="footer_nav_item">Квартиры</li>
            <li class="footer_nav_item">Дома</li>
            <li class="footer_nav_item">Коммерческая недвижимость</li>
          </ul>
        </div>
        <!-- 3rd -->
        <div class="footer_menu_block">
          <h3>Аренда</h3>
          <ul class="footer_nav">
            <li class="footer_nav_item">Квартиры</li>
            <li class="footer_nav_item">Дома</li>
            <li class="footer_nav_item">Коммерческая недвижимость</li>
          </ul>
        </div>
        <!-- 4th -->
        <div class="footer_menu_block">
          <h3>Съем</h3>
          <ul class="footer_nav">
            <li class="footer_nav_item">Квартиры</li>
            <li class="footer_nav_item">Дома</li>
            <li class="footer_nav_item">Офисы</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_copywrite_block">
    <div class="container">
      <div class="footer_copywrite_notice">
        <span>Conditions of Use Privicy Notice  2021</span>
      </div>
    </div>
  </div>
</div>
