<div id="nav_bar">
  <div class="container">
    <ul class="nav_menu">
      <li class="menu_item"><a href="#footer">Покупка</a></li>
      <li class="menu_item"><a href="">Продажа</a></li>
      <li class="menu_item"><a href="">Аренда</a></li>
      <li class="menu_item"><a href="">Съем</a></li>
      <li class="menu_item"><a href="">Контакты</a></li>
    </ul>
  </div>
</div>
